In [1]:
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, Float, Boolean
from sqlalchemy import text
import pandas as pd
import numpy as np
import os
import openai
from sqlalchemy.orm import sessionmaker, declarative_base

In [2]:
os.environ["OPENAI_API_KEY"] = "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"
openai.api_key = os.environ["OPENAI_API_KEY"]

In [3]:
def create_bulkupload_db(db_path, csv_path):
    # declase Base
    Base = declarative_base()

    # initialize table structures
    # parts table
    class Part(Base):
        __tablename__ = 'parts'
        part_number = Column(String, primary_key=True, unique=True)
        description = Column(String)
        quantity = Column(Integer)
        value = Column(Float)
        price = Column(Float)
        brand = Column(String)
        months_no_sale = Column(Integer)
        uploaded = Column(Boolean)

    # models table
    class Model(Base):
        __tablename__ = 'models'
        id = Column(Integer, primary_key=True, autoincrement=True)
        part_number = Column(String, ForeignKey('parts.part_number'))
        model_name = Column(String, unique=True)

    # years table
    class Year(Base):
        __tablename__ = 'years'
        id = Column(Integer, primary_key=True, autoincrement=True)
        part_number = Column(String, ForeignKey('parts.part_number'))
        year = Column(Integer, unique=True)

    # model year junction table
    class ModelYear(Base):
        __tablename__ = 'model_year'
        id = Column(Integer, primary_key=True, autoincrement=True)
        part_number = Column(Integer, ForeignKey('parts.part_number'))
        model_id = Column(Integer, ForeignKey('models.id'), nullable=True)
        year_id = Column(Integer, ForeignKey('years.id'), nullable=True)

    # create engine and session
    engine = create_engine(f'sqlite:///{db_path}')

    Base.metadata.drop_all(engine)
    Base.metadata.create_all(engine)

    Session = sessionmaker(bind=engine)
    session = Session()
    
    # function to get unique elements of a column in the parts df
    def get_unique_elements(parts_df, col):
        # getting specified column's data
        col_data = np.array(parts_df[col])
        # create a set to store unique column elements
        unique_col = set()

        # go through the column entries
        for entry in col_data:
            # split up entries that have "," - means there are multiple values in the entry
            if "," in entry:
                separate_entries = entry.split(", ")
                # add each value to the set
                for element in separate_entries:
                    unique_col.add(element)
            #  entries without "," can just be added to the set
            else:
                unique_col.add(entry)
        
        # return the set containing unique elements of the column
        return unique_col


    # function that builds the parts table
    def build_parts_table(parts_df):
        # convert parts df to dictionary for easier parsing
        parts_data = parts_df.to_dict('records')
        
        # loop through each part
        for part in parts_data:
            # create an entry in the parts table using the part info
            new_part = Part(
                part_number = part['PART NUM.'],
                description = part.get('DESC.'),
                quantity = part.get('O.H'),
                value = part.get('VALUE'),
                price = part.get('COST'),
                brand = part.get('MAKE'),
                months_no_sale = part.get('MNS'),   
                uploaded = 0 
            )
            # add part to the table
            session.add(new_part)
            session.flush()

        session.commit()
        return


    # function that builds the models table
    def build_models_table(parts_df):
        # getting unique model names
        unique_models = get_unique_elements(parts_df, 'MODEL')

        # insert models into the table
        for model in unique_models:
            new_model = Model(model_name=model)
            session.add(new_model)
        session.commit()

        return
    

    # function that builds the years table
    def build_years_table(parts_df):
        # getting unique years
        unique_years = get_unique_elements(parts_df, 'YEAR')

        # insert years into the table
        for year in unique_years:
            new_year = Year(year=year)
            session.add(new_year)
        session.commit()
        
        return
    

    # function that builds the model_year table 
    def build_model_year_table(parts_df):
        parts_data = parts_df.to_dict('records')

        # insert all models and years into model_year database
        for row in parts_data:
            part_number = row['PART NUM.']
            model_name = row.get('MODEL')
            year_value = row.get('YEAR')

            # splitting to get all possible models and years
            if "," in model_name:
                all_models = model_name.split(", ")
            else:
                all_models = [model_name]
            
            if "," in year_value:
                all_years = year_value.split(", ")
            else:
                all_years = [year_value]
            
            # get all possible combinations of models and years
            unique_model_years = []
            for model in all_models:
                for year in all_years:
                    unique_model_years.append([model, year])
    
            # insert all models and years into database for a given part
            for model_year in unique_model_years:
                model = model_year[0]
                year = model_year[1]

                if model:
                    model_id = session.query(Model.id).filter_by(model_name=model).first()
                    model_id = model_id[0] if model_id else None
                else:
                    model_id = None
                
                if year:
                    year_id = session.query(Year.id).filter_by(year=year).first()
                    year_id = year_id[0] if year_id else None
                else:
                    year_id = None

                new_model_year = ModelYear(part_number=part_number, model_id=model_id, year_id=year_id)
                session.add(new_model_year)
        return
    
    parts_df = pd.read_csv(csv_path)
    parts_df = parts_df.drop_duplicates(subset=['PART NUM.'])
    
    build_parts_table(parts_df)
    build_models_table(parts_df)
    build_years_table(parts_df)
    build_model_year_table(parts_df)
    
    session.commit()
    session.close()

    return

In [4]:
db_path = r'C:\Users\vivia\co-pilot-v1\Notebooks\bulk_upload.db'
csv_path = r"C:\Users\vivia\co-pilot-v1\Notebooks\alberta_honda_data_synthetic_v2.csv"

create_bulkupload_db(db_path, csv_path)

In [19]:
from sqlalchemy import create_engine
from llama_index.core import SQLDatabase, VectorStoreIndex
from llama_index.core.objects import (
    SQLTableNodeMapping,
    ObjectIndex,
    SQLTableSchema,
)
from llama_index.core.indices.struct_store import SQLTableRetrieverQueryEngine
from llama_index.llms.openai import OpenAI

# creating the nl sql query engine
def setup_nlsql_query_engine(engine):
    def initialize_table_objects():
        # initialize SQL database
        sql_database = SQLDatabase(engine, sample_rows_in_table_info=2, include_tables=['parts', 'model_year', 'models', 'years'])

        # table context strings
        model_year_context = """The 'model_year' table provides model and year information for a given part number when combined with 'models' table and 'years' table. 
                                This table must be used to join either the models or years table if a user asks for a certain model of car or year of a part.
                                Includes columns 'id', 'part_number', 'model_id', and 'year_id'. """
        models_context = """The 'models' table provides the model name of a given model id. Join the 'models' table with the 'parts' table using the 'model_year' table. 
                            Use this table when looking up the model of a car. 
                            The model of a car is the specific product, not to be confused with the make or brand of the car. Includes columns 'id', 'part_number', and 'model_name'.""" 
        parts_context = """The 'parts' table provides detailed inventory data for individual parts. Use part-specific queries.
                            Includes columns 'part_number', 'description', 'quantity', 'price', 'brand', 'months_no_sale', 'value', and 'uploaded'.
                            'months_no_sale' refers to the number of months the part has not been sold.
                            'value' is how much the part is worth and is calculated by multiplying the quantity with the price of the car.
                            'uploaded' is a boolean that keeps track of whether the part has been uploaded to the market place database, which is a separate database.
                            The 'brand' of the car is the make or supplier of the car, not to be confused with the model of the car. (e.g. Honda is the make, CR-V is the model).
                            Combine with 'model_year', 'models', and 'years' tables to get all information on a given part number."""
        years_context = """The 'years' table provides the year of a given year id. Join the 'years' table with the 'parts' table using the 'model_year' table.
                            Includes columns 'id', 'part_number', and 'year'."""

        context_strs = [model_year_context, models_context, parts_context, years_context]
        table_context_str = "The Table description is: "
        table_context_str += "\n\n The Table description is: ".join(context_strs)

        table_node_mapping = SQLTableNodeMapping(sql_database)
        table_schema_objs = [
            SQLTableSchema(table_name='model_year', context_str=model_year_context),
            SQLTableSchema(table_name='models', context_str=models_context),
            SQLTableSchema(table_name='parts', context_str=parts_context),
            SQLTableSchema(table_name='years', context_str=years_context),
        ]
        obj_index = ObjectIndex.from_objects(
            table_schema_objs,
            table_node_mapping,
            VectorStoreIndex,
        )
        return sql_database, obj_index, table_context_str

    sql_database, obj_index, table_context_str = initialize_table_objects()

    # pipeline context string
    context_str = (
        "Use JOINs prefaced with table names for combining multiple tables."
        "Convert percentages to decimals (e.g., '50%' as '0.5')."
        "Split up the brand and model of a car to look them up separately if given both the brand and model of a car in the user query."
        "Use LOWER and LIKE SQL keywords for searching brand, model name or description because of case sensitivity."
        "Use correct column names when joining multiple tables."
        "Pay close attention to filtering criteria mentioned in the question and incorporate them using the WHERE clause in your SQL query."
        "If the question involves multiple conditions, use logical operators such as AND, OR to combine them effectively."
        "If the question involves grouping of data (e.g., finding totals or averages for different categories), use the GROUP BY clause along with appropriate aggregate functions."
        "Consider using aliases for tables and columns to improve readability of the query, especially in case of complex joins or subqueries."
        "If necessary, use subqueries or common tables expressions (CTEs) to break down the problem into smaller, more manageable parts."
        "Ensure detailed, relevant responses."
    ) 
    context_str_combined = context_str + "\n\n" + table_context_str

    # build the query engine with the database and context strings
    query_engine = SQLTableRetrieverQueryEngine(
        sql_database=sql_database,
        table_retriever=obj_index.as_retriever(similarity_top_k=1),
        synthesize_response=True,
        llm=OpenAI(temperature=0.1, model="gpt-4o-mini"),
        context_str_prefix=context_str_combined
    )

    return query_engine



def user_to_sql(user_input, nl_sql_query_engine):
    # turn user input into sql query

    explanation_prompts = [
        "Does the user refer to a specific brand of car parts?",
        "Does the user refer to a specific model of car parts?",
        "Make sure to separate the brand and model when writing the SQL query."
        # "Does the user specify parts that haven't been sold in a number of months?",
        # "Does the user specify parts that were made during a certain duration of years?",
        # "Did the user ask to reduce the price of parts by a certain percentage?",
        # "Did the user ask for parts over or under a certain value?",
        "Write a SQL query that deals with the brand and model of the car correctly."
    ]

    full_prompt = "\n".join(["User input: " + user_input, *explanation_prompts])
    # print("FULL PROMPT:", full_prompt)
    response = nl_sql_query_engine.query(user_input) # response.metadata
   
    # parse sql query 
    sql_query = response.metadata.get('sql_query', '').replace('\n', ' ').replace('\r', ' ').strip()
    
    if sql_query.startswith('sql'):
        sql_query = sql_query[3:].strip()
    
    return sql_query


# run user input and return resulting df and part numbers
def run_user_input(engine, nl_sql_query_engine, user_input):
    # turn user input into sql query

    sql_query = user_to_sql(user_input, nl_sql_query_engine)

    # run sql query
    with engine.connect() as connection:
        result = connection.execute(text(sql_query))
        result_data = result.fetchall()

        # check the resulting df
        if len(result_data) >= 5:
            result_df = pd.DataFrame(result_data, columns=result.keys())

            # grab the part numbers corresponding to the resulting parts
            if "part_number" in result.keys():
                part_numbers = result_df['part_number']
                # getting unique part_numbers
                part_numbers = set(part_numbers)
            else:
                part_numbers = []
            return result_df, part_numbers
        else:
            response = nl_sql_query_engine.query(sql_query)
            return str(response), []

In [20]:
# function to format list of part numbers so that it can be used in SQL query 
def format_part_numbers_str(part_numbers):
    part_numbers_str = "'"
    part_numbers_str += "', '".join(part_numbers)
    part_numbers_str += "'"
    return part_numbers_str


# function that updates the 'uploaded' column of given parts to be True 
def update_uploaded_col(engine, part_numbers):
    part_numbers_str = format_part_numbers_str(part_numbers)
    with engine.connect() as connection:
        query = text(f"""UPDATE parts SET uploaded=True WHERE part_number IN ({part_numbers_str})""")
        connection.execute(query)
        connection.commit()
    return


# function that gets all columns that will be displayed on UI for a given set of parts
def get_full_table(engine, part_numbers):
    part_numbers_str = format_part_numbers_str(part_numbers)
    with engine.connect() as connection:
        query = text(f"""SELECT p.part_number, m.model_name, p.price, p.quantity, p.brand, p.description, p.months_no_sale, p.value, y.year, p.uploaded
                    FROM model_year my
                    JOIN models m ON my.model_id=m.id
                    JOIN parts p ON my.part_number=p.part_number
                    JOIN years y ON my.year_id=y.id
                    WHERE p.part_number IN ({part_numbers_str})""")
        # print(f"Display Table Query: {query}")
        df = connection.execute(query)

    columns = ["part_number", "model_name", "price", "quantity", "brand", "description", "months no sale", "value", "year", "uploaded"]
    df = pd.DataFrame(df.fetchall(), columns=columns)
    df = df.sort_values(['uploaded'])
    return df

def reset_uploaded(db_path):
    engine = create_engine(f'sqlite:///{db_path}')
    with engine.connect() as connection:
        query = text(f"""UPDATE parts SET uploaded=False""")
        connection.execute(query)
        connection.commit()
    return

# function that gets all columns that will be displayed on UI for a given set of parts
def get_make_models(engine):
    with engine.connect() as connection:
        query = text(f"""SELECT p.brand FROM parts""")
        # print(f"Display Table Query: {query}")
        brands = connection.execute(query)
        brands = pd.DataFrame(brands.fetchall(), columns=['brand'])

        query = text(f"""SELECT model_name FROM models""")
        models = connection.execute(query)
        models = pd.DataFrame(models.fetchall(), column=['model'])

    return brands, models

def post_processing(sql_query):
    print(sql_query)

In [21]:

def bulk_upload(engine, nl_sql_query_engine, user_input):
    response, part_numbers = run_user_input(engine, nl_sql_query_engine, user_input)

    display_table = get_full_table(engine, part_numbers)

    # no results from given user input
    if display_table.empty:
        print(response)
    
    # results returned for given user input
    else:
        # check for new price column
        if "reduced_price" in response.keys():
            # make a column for the new price in the display table
            reduced_price = response['reduced_price']
            display_table['new price'] = reduced_price
            # update the value column of the display table using the new price
            # display_table['value'] = reduced_price * display_table['quantity']

        # separate out previously uploaded parts and new parts that haven't been uploaded
        # previously uploaded parts
        uploaded_parts = display_table[display_table['uploaded'] == 1].loc[:, display_table.columns != 'uploaded']
        # new parts that haven't been uploaded
        not_uploaded_parts = display_table[display_table['uploaded'] == 0].loc[:, display_table.columns != 'uploaded']
        

        print("UPLOADED PARTS:", uploaded_parts[:5])
        print("NOT UPLOADED PARTS:", not_uploaded_parts[:5])
    
    user_ok = True # button on front end
    if user_ok:
        # set database upload value for part numbers to be True
        update_uploaded_col(engine, part_numbers)
        
        # send dataframe to database in json format
    
    return

In [22]:
engine = create_engine(f'sqlite:///{db_path}')
nl_sql_query_engine = setup_nlsql_query_engine(engine)

In [26]:

# reset_uploaded(db_path)
user_input = "Get all Pilot parts"
sql_query = user_to_sql(user_input, nl_sql_query_engine)
print(sql_query)
# post_processing(sql_query)
# bulk_upload(engine, nl_sql_query_engine, user_input)

SELECT p.part_number, p.description, p.quantity, p.price, p.brand  FROM parts p  WHERE LOWER(p.brand) LIKE '%pilot%' ORDER BY p.part_number;

In [27]:
test_inputs = [
    ["Get all pilot parts valued over $100 and reduce their price by 50%", 
     "Get all Honda pilot parts and reduce their price by 30%", 
     "Get all pilot parts that haven't been sold in 4 months",
     "Get all Honda Pilot parts"],
    ["Get all Accord parts made later than 2016",
     "Get all Accord parts valued over $50",
     "Get all Honda accord parts"],
    ["Get all Fit parts that haven't been sold in over 5 months",
     "Get all Honda fit parts made later than 2015 and reduce their price by 30%",
     "Get all Honda Fit parts"],
    ["Get all CR-V parts and reduce their price by 30%",
     "Get all CR-V parts that haven't been sold in 3 months",
     "Get all Honda CR-V parts made later than 2010 and reduce their price by 10%"],
    ["Get all CR-Z parts",
     "Get all Honda CR-Z parts valued over $300"],
    ["Get all parts valued over $500 that haven't been sold in 6 months and reduce their price by 50%"],
    ["Get all parts valued under $300 and reduce their price by 90%"]
]

In [28]:
for list in test_inputs:
    # reset_uploaded(db_path)
    for user_input in list:
        sql_query = user_to_sql(user_input, nl_sql_query_engine)
        print(user_input)
        print(sql_query)
        print("\n")

Get all pilot parts valued over $100 and reduce their price by 50%
SELECT p.part_number, p.description, p.price * 0.5 AS discounted_price, p.value  FROM parts p  WHERE p.brand LIKE 'pilot' AND p.value > 100;


Get all Honda pilot parts and reduce their price by 30%
SELECT p.part_number, p.description, p.price * 0.7 AS discounted_price  FROM parts p  JOIN model_year my ON p.part_number = my.part_number  JOIN models m ON my.model_id = m.id  WHERE LOWER(m.model_name) LIKE '%pilot%' AND LOWER(p.brand) LIKE '%honda%';


Get all pilot parts that haven't been sold in 4 months
SELECT p.part_number, p.description, p.quantity, p.price, p.brand  FROM parts p  WHERE p.months_no_sale >= 4  AND LOWER(p.description) LIKE '%pilot%';


Get all Honda Pilot parts
SELECT p.part_number, p.description, p.quantity, p.price, p.brand  FROM parts p  JOIN model_year my ON p.part_number = my.part_number  JOIN models m ON my.model_id = m.id  WHERE LOWER(m.model_name) LIKE '%pilot%' AND LOWER(p.brand) LIKE '%honda%' ORDER BY p.quantity DESC;


Get all Accord parts made later than 2016
SELECT p.part_number, p.description, p.quantity, p.price, p.brand  FROM parts p  JOIN model_year my ON p.part_number = my.part_number  JOIN models m ON my.model_id = m.id  JOIN years y ON my.year_id = y.id  WHERE LOWER(m.model_name) LIKE '%accord%' AND y.year > 2016;


Get all Accord parts valued over $50
SELECT p.part_number, p.description, p.value  FROM parts p  JOIN model_year my ON p.part_number = my.part_number  JOIN models m ON my.model_id = m.id  WHERE LOWER(m.model_name) LIKE '%accord%' AND p.value > 50  ORDER BY p.value DESC;


Get all Honda accord parts
SELECT p.part_number, p.description, p.quantity, p.price  FROM parts p  JOIN model_year my ON p.part_number = my.part_number  JOIN models m ON my.model_id = m.id  WHERE LOWER(p.brand) LIKE 'honda' AND LOWER(m.model_name) LIKE 'accord'  ORDER BY p.quantity DESC;


Get all Fit parts that haven't been sold in over 5 months
SELECT p.part_number, p.description, p.quantity, p.price, p.brand  FROM parts p  JOIN model_year my ON p.part_number = my.part_number  JOIN models m ON my.model_id = m.id  WHERE LOWER(m.model_name) LIKE '%fit%' AND p.months_no_sale > 5;


Get all Honda fit parts made later than 2015 and reduce their price by 30%
SELECT p.part_number, p.description, p.price * 0.7 AS discounted_price FROM parts p JOIN model_year my ON p.part_number = my.part_number JOIN models m ON my.model_id = m.id JOIN years y ON my.year_id = y.id WHERE LOWER(m.model_name) LIKE '%fit%' AND y.year > 2015;


Get all Honda Fit parts
SELECT p.part_number, p.description, p.quantity, p.price, p.brand  FROM parts p  JOIN model_year my ON p.part_number = my.part_number  JOIN models m ON my.model_id = m.id  WHERE LOWER(m.model_name) LIKE '%fit%' AND LOWER(p.brand) LIKE '%honda%';


Get all CR-V parts and reduce their price by 30%
SELECT p.part_number, p.description, p.price * 0.7 AS discounted_price  FROM parts p  JOIN model_year my ON p.part_number = my.part_number  JOIN models m ON my.model_id = m.id  WHERE LOWER(m.model_name) LIKE '%cr-v%'


Get all CR-V parts that haven't been sold in 3 months
SELECT p.part_number, p.description, p.quantity, p.price, p.brand  FROM parts p  JOIN model_year my ON p.part_number = my.part_number  JOIN models m ON my.model_id = m.id  WHERE LOWER(m.model_name) LIKE '%cr-v%' AND p.months_no_sale >= 3;


Get all Honda CR-V parts made later than 2010 and reduce their price by 10%
SELECT p.part_number, p.description, p.price * 0.9 AS discounted_price  FROM parts p  JOIN model_year my ON p.part_number = my.part_number  JOIN models m ON my.model_id = m.id  JOIN years y ON my.year_id = y.id  WHERE LOWER(m.model_name) LIKE 'cr-v' AND y.year > 2010 AND p.brand = 'Honda';


Get all CR-Z parts
SELECT p.part_number, p.description, p.quantity, p.price, p.brand  FROM parts AS p  JOIN model_year AS my ON p.part_number = my.part_number  JOIN models AS m ON my.model_id = m.id  WHERE LOWER(m.model_name) LIKE '%cr-z%' ORDER BY p.quantity DESC;


Get all Honda CR-Z parts valued over $300
SELECT p.part_number, p.description, p.value  FROM parts p  JOIN model_year my ON p.part_number = my.part_number  JOIN models m ON my.model_id = m.id  WHERE LOWER(p.brand) LIKE 'honda' AND LOWER(m.model_name) LIKE 'cr-z' AND p.value > 300;


Get all parts valued over $500 that haven't been sold in 6 months and reduce their price by 50%
SELECT p.part_number, p.description, p.price, p.value FROM parts p WHERE p.value > 500 AND p.months_no_sale >= 6;


Get all parts valued under $300 and reduce their price by 90%
SELECT part_number, description, price, value FROM parts WHERE value < 300

In [39]:
user_sql_examples = [
    {
        "question": "Get all CR-Z parts and reduce their price by 50%",
        "sql_query": """SELECT p.part_number, p.description, p.quantity, p.price * 0.5 as reduced_price, p.make, m.model_name, y.year FROM parts p
                        JOIN model_year my ON p.part_number = my.part_number
                        JOIN models m ON my.model_id = m.id
                        JOIN years y on my.year_id = y.id
                        WHERE LOWER(m.model_name) LIKE '%cr-z%';"""
    },
    {
        "question": "Get all Honda CR-Z parts and reduce their price by 30%",
        "sql_query": """SELECT p.part_number, p.description, p.quantity, p.price * 0.7 as reduced_price, p.make, m.model_name, y.year FROM parts p
                        JOIN model_year my ON p.part_number = my.part_number
                        JOIN models m ON my.model_id = m.id
                        JOIN years y on my.year_id = y.id
                        WHERE LOWER(m.model_name) LIKE '%cr-z%';"""
    },
    {
        "question": "Get all Honda parts and reduce their price by 20%",
        "sql_query": """SELECT p.part_number, p.description, p.quantity, p.price * 0.8 as reduced_price, p.make, m.model_name, y.year FROM parts p
                        JOIN model_year my ON p.part_number = my.part_number
                        JOIN models m ON my.model_id = m.id
                        JOIN years y on my.year_id = y.id
                        WHERE LOWER(p.make) LIKE '%honda%';"""
    },
    {
        "question": "Get all Honda parts between 2005 and 2015 and reduce their price by 20%",
        "sql_query": """SELECT p.part_number, p.description, p.quantity, p.price * 0.8 as reduced_price, p.make, m.model_name, y.year FROM parts p
                        JOIN model_year my ON p.part_number = my.part_number
                        JOIN models m ON my.model_id = m.id
                        JOIN years y on my.year_id = y.id
                        WHERE LOWER(p.make) LIKE '%honda%'
                        AND y.year >= 2005 AND y.year <= 2015;"""
    },
    {
        "question": "Get all Pilot parts and reduce their price by 50%",
        "sql_query": """SELECT p.part_number, p.description, p.quantity, p.price * 0.5 as reduced_price, p.make, m.model_name, y.year FROM parts p
                        JOIN model_year my ON p.part_number = my.part_number
                        JOIN models m ON my.model_id = m.id
                        JOIN years y on my.year_id = y.id
                        WHERE LOWER(m.model_name) LIKE '%pilot%';"""
    },
    {
        "question": "Get all Honda Pilot parts and reduce their price by 20%",
        "sql_query": """SELECT p.part_number, p.description, p.quantity, p.price * 0.8 as reduced_price, p.make, m.model_name, y.year FROM parts p
                        JOIN model_year my ON p.part_number = my.part_number
                        JOIN models m ON my.model_id = m.id
                        JOIN years y on my.year_id = y.id
                        WHERE LOWER(m.model_name) LIKE '%pilot%';"""
    },
    {
        "question": "Get all Honda Pilot parts and reduce their price by 20%",
        "sql_query": """SELECT p.part_number, p.description, p.quantity, p.price * 0.8 as reduced_price, p.make, m.model_name, y.year FROM parts p
                        JOIN model_year my ON p.part_number = my.part_number
                        JOIN models m ON my.model_id = m.id
                        JOIN years y on my.year_id = y.id
                        WHERE LOWER(m.model_name) LIKE '%pilot%';"""
    },
    {
        "make": "Honda",
        "models": "Pilot, Accord, CR-V, CR-Z, Civic, Clarity, Crosstour, Element, Fit, HR-V, Insight, Odyssey, Passport, Pilot, Ridgeline, S2000"
    }

]