In [164]:
from sqlalchemy import inspect
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, Float, Boolean
from sqlalchemy import text, update
import pandas as pd
import numpy as np
import os
import openai
from sqlalchemy.orm import sessionmaker, declarative_base

In [165]:
os.environ["OPENAI_API_KEY"] = "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"
openai.api_key = os.environ["OPENAI_API_KEY"]

In [176]:
def create_bulkupload_db(db_path, csv_path):
    # declase Base
    Base = declarative_base()

    # initialize table structures
    # parts table
    class Part(Base):
        __tablename__ = 'parts'
        part_number = Column(String, primary_key=True, unique=True)
        description = Column(String)
        quantity = Column(Integer)
        value = Column(Float)
        price = Column(Float)
        make = Column(String)
        months_no_sale = Column(Integer)
        uploaded = Column(Boolean)

    # models table
    class Model(Base):
        __tablename__ = 'models'
        id = Column(Integer, primary_key=True, autoincrement=True)
        part_number = Column(String, ForeignKey('parts.part_number'))
        model_name = Column(String, unique=True)

    # years table
    class Year(Base):
        __tablename__ = 'years'
        id = Column(Integer, primary_key=True, autoincrement=True)
        part_number = Column(String, ForeignKey('parts.part_number'))
        year = Column(Integer, unique=True)

    # model year junction table
    class ModelYear(Base):
        __tablename__ = 'model_year'
        id = Column(Integer, primary_key=True, autoincrement=True)
        part_number = Column(Integer, ForeignKey('parts.part_number'))
        model_id = Column(Integer, ForeignKey('models.id'), nullable=True)
        year_id = Column(Integer, ForeignKey('years.id'), nullable=True)

    # create engine and session
    engine = create_engine(f'sqlite:///{db_path}')

    Base.metadata.drop_all(engine)
    Base.metadata.create_all(engine)

    Session = sessionmaker(bind=engine)
    session = Session()
    
    # function to get unique elements in a column of the parts df
    def get_unique_elements(parts_df, col):
        # getting specific column data
        col_data = np.array(parts_df[col])
        # create a set to find unique column elements
        unique_col = set()

        # go through the column entries
        for entry in col_data:
            # split up entries that have "," - means there are multiple values in the entry
            if "," in entry:
                separate_entries = entry.split(", ")
                # add each value to the set
                for element in separate_entries:
                    unique_col.add(element)
            #  entries without "," can just be added to the set
            else:
                unique_col.add(entry)
        
        # return the set containing unique elements of the column
        return unique_col


    # function that builds the parts table
    def build_parts_table(parts_df):
        # convert parts df to dictionary for easier parsing
        parts_data = parts_df.to_dict('records')
        
        # loop through each part
        for part in parts_data:
            # create an entry in the parts table using the part info
            new_part = Part(
                part_number = part['PART NUM.'],
                description = part.get('DESC.'),
                quantity = part.get('O.H'),
                value = part.get('VALUE'),
                price = part.get('COST'),
                make = part.get('MAKE'),
                months_no_sale = part.get('MNS'),   
                uploaded = 0 
            )
            # add part to the table
            session.add(new_part)
            session.flush()

        session.commit()
        return


    # function that builds the models table
    def build_models_table(parts_df):
        # getting unique model names
        unique_models = get_unique_elements(parts_df, 'MODEL')

        # insert models into the database
        for model in unique_models:
            new_model = Model(model_name=model)
            session.add(new_model)
        session.commit()

        return
    

    # function that builds the years table
    def build_years_table(parts_df):
        # getting unique years
        unique_years = get_unique_elements(parts_df, 'YEAR')

        # insert years into the database
        for year in unique_years:
            new_year = Year(year=year)
            session.add(new_year)
        session.commit()
        
        return
    

    # function that builds the model_year table 
    def build_model_year_table(parts_df):
        parts_data = parts_df.to_dict('records')

        # insert all models and years into model_year database
        for row in parts_data:
            part_number = row['PART NUM.']
            model_name = row.get('MODEL')
            year_value = row.get('YEAR')

            # splitting to get all possible models and years
            if "," in model_name:
                all_models = model_name.split(", ")
            else:
                all_models = [model_name]
            
            if "," in year_value:
                all_years = year_value.split(", ")
            else:
                all_years = [year_value]
            
            # get all possible combinations of models and years
            unique_model_years = []
            for model in all_models:
                for year in all_years:
                    unique_model_years.append([model, year])
    
            # insert all models and years into database for a given part
            for model_year in unique_model_years:
                model = model_year[0]
                year = model_year[1]

                if model:
                    model_id = session.query(Model.id).filter_by(model_name=model).first()
                    model_id = model_id[0] if model_id else None
                else:
                    model_id = None
                
                if year:
                    year_id = session.query(Year.id).filter_by(year=year).first()
                    year_id = year_id[0] if year_id else None
                else:
                    year_id = None

                new_model_year = ModelYear(part_number=part_number, model_id=model_id, year_id=year_id)
                session.add(new_model_year)
        return
    
    parts_df = pd.read_csv(csv_path)
    parts_df = parts_df.drop_duplicates(subset=['PART NUM.'])
    
    build_parts_table(parts_df)
    build_models_table(parts_df)
    build_years_table(parts_df)
    build_model_year_table(parts_df)
    
    session.commit()
    session.close()

    return

db_path = r'C:\Users\vivia\co-pilot-v1\Notebooks\bulk_upload.db'
csv_path = r"C:\Users\vivia\co-pilot-v1\Notebooks\alberta_honda_data_synthetic_v2.csv"
create_bulkupload_db(db_path, csv_path)

In [178]:
from sqlalchemy import create_engine
from llama_index.core import SQLDatabase, VectorStoreIndex
from llama_index.core.objects import (
    SQLTableNodeMapping,
    ObjectIndex,
    SQLTableSchema,
)
from llama_index.core.indices.struct_store import SQLTableRetrieverQueryEngine
from llama_index.llms.openai import OpenAI

# creating the nl sql query engine
def setup_nlsql_query_engine(engine):
    def initialize_table_objects():
        # initialize SQL database
        sql_database = SQLDatabase(engine, sample_rows_in_table_info=2, include_tables=['parts', 'model_year', 'models', 'years'])

        # table context strings
        model_year_context = """The 'model_year' table provides model and year information for a given part number when combined with 'models' table and 'years' table. 
                                This table must be used to join either the models or years table if a user asks for a certain model of car or years of a part.
                                Includes columns 'id', 'part_number', 'model_id', and 'year_id'. """
        models_context = "The 'models' table provides the model name of a given model id. The model of a car is the specific product, not to be confused with the make or brand of the car. Combine with 'model_year' to get the corresponding model of a specific model id. Includes columns 'id', 'part_number', and 'model_name'."
        parts_context = """The 'parts' table provides detailed inventory data for individual parts. Use part-specific queries.
                            Includes columns 'part_number', 'description', 'quantity', 'price', 'make', 'months_no_sale', 'value', and 'uploaded'.
                            'months_no_sale' refers to the number of months the part has not been sold.
                            'value' is how much the part is worth.
                            'uploaded' is a boolean that keeps track of whether the part has been uploaded to the market place database, which is a separate database.
                            The 'make' of the car is the brand, not to be confused with the model of the car. (e.g. Honda is the make, CR-V is the model).
                            Combine with 'model_year', 'models', 'years' to get all information on a given part number."""
        years_context = "The 'years' table provides the year of a given year id. Combine with 'model_year' to get the corresponding year of a specific year id. Includes columns 'id', 'part_number', and 'year'."

        context_strs = [model_year_context, models_context, parts_context, years_context]
        table_context_str = "The Table description is: "
        table_context_str += "\n\n The Table description is: ".join(context_strs)

        table_node_mapping = SQLTableNodeMapping(sql_database)
        table_schema_objs = [
            SQLTableSchema(table_name='model_year', context_str=model_year_context),
            SQLTableSchema(table_name='models', context_str=models_context),
            SQLTableSchema(table_name='parts', context_str=parts_context),
            SQLTableSchema(table_name='years', context_str=years_context),
        ]
        obj_index = ObjectIndex.from_objects(
            table_schema_objs,
            table_node_mapping,
            VectorStoreIndex,
        )
        return sql_database, obj_index, table_context_str

    sql_database, obj_index, table_context_str = initialize_table_objects()

    # pipeline context string
    context_str = (
        "Use JOINs prefaced with table names for combining multiple tables."
        "Convert percentages to decimals (e.g., '50%' as '0.5')."
        "Split up make and model to look them up separately if given both the make and model of a car in the user query."
        "Use LOWER and LIKE for searching brand, model name or description because of case sensitivity."
        "Use correct column names when joining multiple tables."
        "Be sure to look up make and model separately in their corresponding columns."
        "Pay close attention to filtering criteria mentioned in the question and incorporate them using the WHERE clause in your SQL query."
        "If the question involves multiple conditions, use logical operators such as AND, OR to combine them effectively."
        "If the question involves grouping of data (e.g., finding totals or averages for different categories), use the GROUP BY clause along with appropriate aggregate functions."
        "Consider using aliases for tables and columns to improve readability of the query, especially in case of complex joins or subqueries."
        "If necessary, use subqueries or common tables expressions (CTEs) to break down the problem into smaller, more manageable parts."
        "Ensure detailed, relevant responses."
    ) 
    context_str_combined = context_str + "\n\n" + table_context_str

    # build the query engine with the database and context strings
    query_engine = SQLTableRetrieverQueryEngine(
        sql_database=sql_database,
        table_retriever=obj_index.as_retriever(similarity_top_k=1),
        synthesize_response=True,
        llm=OpenAI(temperature=0.1, model="gpt-3.5-turbo-0125"),
        context_str_prefix=context_str_combined
    )

    return query_engine


# run user input with the nl sql engine and return the resulting df and part numbers corresponding to the parts
def run_user_input(engine, nl_sql_query_engine, user_input):
    # turn user input into sql query
    response = nl_sql_query_engine.query(user_input)
    # print(f"RESPONSE: {response.metadata}")
    # parse sql query 
    sql_query = response.metadata.get('sql_query', '').replace('\n', ' ').replace('\r', ' ').strip()
    # print(f"SQL QUERY after adjustment: {sql_query}")
    if sql_query.startswith('sql'):
        sql_query = sql_query[3:].strip()
    print(f"SQL: {sql_query}")

    # run sql query
    with engine.connect() as connection:
        result = connection.execute(text(sql_query))
        result_data = result.fetchall()

        # check the resulting df
        if len(result_data) >= 5:
            result_df = pd.DataFrame(result_data, columns=result.keys())

            # grab the part numbers corresponding to the resulting parts
            if "part_number" in result.keys():
                part_numbers = result_df['part_number']
                # getting unique part_numbers
                part_numbers = list(set(part_numbers))
            else:
                part_numbers = []
            return result_df, part_numbers
        else:
            response = nl_sql_query_engine.query(sql_query)
            return str(response), []

In [179]:
# function to format list of part numbers to be used in SQL query 
def format_part_numbers_str(part_numbers):
    part_numbers_str = "'"
    part_numbers_str += "', '".join(part_numbers)
    part_numbers_str += "'"
    return part_numbers_str

# function that updates the 'uploaded' column of given parts to be True 
# once user decides to upload parts
def update_uploaded_col(engine, part_numbers):
    part_numbers_str = format_part_numbers_str(part_numbers)
    with engine.connect() as connection:
        query = text(f"""UPDATE parts SET uploaded=True WHERE part_number IN ({part_numbers_str})""")
        connection.execute(query)
        connection.commit()
    return


# function that gets all columns that will be displayed on UI for a given set of parts
def get_full_table(engine, part_numbers):
    part_numbers_str = format_part_numbers_str(part_numbers)
    with engine.connect() as connection:
        query = text(f"""SELECT p.part_number, m.model_name, p.price, p.quantity, p.make, p.description, p.months_no_sale, p.value, y.year
                    FROM model_year my
                    JOIN models m ON my.model_id=m.id
                    JOIN parts p ON my.part_number=p.part_number
                    JOIN years y ON my.year_id=y.id
                    WHERE p.part_number IN ({part_numbers_str})""")
        print(f"QUERY: {query}")
        df = connection.execute(query)

    columns = ["part_number", "model_name", "price", "quantity", "make", "description", "months no sale", "value", "year"]
    df = pd.DataFrame(df.fetchall(), columns=columns)
    return df

In [182]:

def bulk_upload(db_path):
    engine = create_engine(f'sqlite:///{db_path}')
    nl_sql_query_engine = setup_nlsql_query_engine(engine)
    user_input = "Retrieve all Pilot parts that have a total value of over $100 and reduce their price by 50%"
    response, part_numbers = run_user_input(engine, nl_sql_query_engine, user_input)

    display_table = get_full_table(engine, part_numbers)
    print(display_table)
    
    user_ok = True # button on front end
    if user_ok:
        # set database upload value for part numbers to be True
        update_uploaded_col(engine, part_numbers)
        
        # send dataframe to database in json format

db_path = r'C:\Users\vivia\co-pilot-v1\Notebooks\bulk_upload.db'
bulk_upload(db_path)

SQL: SELECT p.part_number, p.description, p.quantity, p.price * 0.5 AS reduced_price, p.make, p.months_no_sale, p.value FROM parts p JOIN model_year my ON p.part_number = my.part_number JOIN models m ON my.model_id = m.id WHERE m.model_name LIKE 'Pilot' AND p.value > 100 ORDER BY p.value DESC;
QUERY: SELECT p.part_number, m.model_name, p.price, p.quantity, p.make, p.description, p.months_no_sale, p.value, y.year
                    FROM model_year my
                    JOIN models m ON my.model_id=m.id
                    JOIN parts p ON my.part_number=p.part_number
                    JOIN years y ON my.year_id=y.id
                    WHERE p.part_number IN ('TUMBLER', '33100-TBA-A01', '91504-SP1-003', '38810-RLV-A02', '17011-SJC-A02', '44732-TR3-A01', '04790-TK6-A00', '114-80-17-G', '74900-SHJ-A31ZC', '71130-SZA-A01ZZ', '73350-TG7-A00', '60211-TBA-A50ZZ', '71560-3W0-A10ZA', '04655-3D4-A00ZZ', '08F04-T90-100', '17310-TA0-A01', '42510-TK8-A01', '45022-SNE-A51', '71210-THR-A01', '71121-THR-A50', '71570-T1W-A00', '71125-TG7-A11', '06351-SDA-A70', 'OGIO', '31500-TZ3-H760', '76201-THR-A11ZC', '60261-SVA-A90ZZ', '51621-TG7-A01', '74641-TLA-A00', '74165-TG7-A00', '51722-SWE-T01', '04715-TG7-A50ZZ', '71203-TGG-A00', '903', '17045-T2A-A02', '14510-5A2-A02', '74895-T0A-A01YD', '71202-T20-A01', '08F24-T7S-100A', '52611-TBA-A13', '51220-S5A-305', '75313-TG7-A12', 'BG-6577', '75312-TG7-A12', '44600-TG7-A00', '48350-5TG-003', '74552-TR0-G01', '75722-TK8-A00', '51360-TVA-A04', 'DOG', '64720-TG7-315ZZ', '16CIVICALLOY', '16728-R70-A01', '34270-SVA-A01', '18190-RV0-A10', '52210-TZ6-A00', '71130-TK6-A00ZZ', '14320-5BA-A01', '71501-T2F-A60ZZ', '72147-T2A-A02', '04711-SNE-A90ZZ', '04711-TK8-A91ZZ', '33950-TLA-A21', '12351-R70-A00', '08798-9031C', '114-395-17-B', '900', '33550-TG7-A01', '71530-T2A-A00ZZ', '04711-TS8-A90ZZ', '60261-THR-305ZZ', '37850-RKG-A01', '72910-TK8-A01', '33500-TLA-A01', '08206-9002C', '120-950-17-S', '31200-5G0-A04', '33700-TBG-A01', '67611-TLA-A00ZZ', '08W42-TGG-301', '33550-TR0-A51', '74440-TGS-A01', '71850-TGG-A50ZJ', '33950-TEY-Y01', '04717-TLA-A00ZZ', '15830-59B-004', '33100-TBA-A11', '33100-TBA-A31', '04790-SJC-A10', '42510-T0G-A04', '53713-S9V-A01', '76250-T2G-A81ZJ', '17130-RCA-A02', '71121-TLA-A10', '04790-S0X-315', '60261-SNA-A90ZZ', '68100-T0G-305ZZ', '34270-T0A-A01', '16083', '65700-T7X-A00ZZ', 'CERAMX', '44300-TLA-A51', '33100-T0A-A01', '71123-T6Z-A11', '06720-THR-308', '31500-CCA-H500R', '83551-TG7-A04ZA', '76720-T0A-003', '08P17-TGS-110A', '66100-TBA-305ZZ', '74413-TLA-A01', '63320-T0A-A00ZZ', 'LEATHER', '80315-T1W-A01', '31100-RV0-305', '45022-T2G-A01', 'BG-6601', '04715-THR-A00ZZ', '71501-T6Z-A60', '08V67-TK8-1F0K', '10W30S', '52320-SWA-A01', '08L92-TLA-301', '51611-TLA-A51', '80100-3D0-A01', '71510-T2F-A10', '53010-SJC-A01', '76200-SNE-A12', 'BROWN', '08P21-3A0-100', '04715-SZA-A60ZZ', '33500-TBA-A01', '08P47-SJC-102', '71121-TLA-A60', '42753-TR3-A81', '71121-T7W-A51', '04641-T2F-A00ZZ', '80525-T2F-A01', 'CA670-06', '04711-T1W-A91ZZ', '04715-TGG-A50ZZ', '71105-3D4-A00', '04790-S9A-A10', '33100-TR0-A51', '66100-T0A-A00ZZ', '60261-TBA-A50ZZ', '51211-TVA-A02', '72147-THR-A11', '08F01-TEA-182', '04717-SWA-A90ZZ', '71122-TLA-A60', '71123-T0G-A01', '51395-THR-A10', '75716-SZA-A01', '60400-TG7-315ZZ', '53713-SHJ-A01', '15810-64S-A01', '38900-5J6-A02', 'BG-79232', '04646-T20-A00ZZ', '74151-TBA-A10', '67611-T20-305ZZ', '66100-T31-H20ZZ', '908', '33901-TR0-A51', '08DEF-410738', '19010-5MR-A01', '19200-5A2-A01', '08T44-TGH-300', '08T44-SVB-301', '08R04-SNA-302', '66100-TR2-D21ZZ', '06520-S5A-C00', '77930-T5A-N01', '33100-TG7-A12', '33100-TG7-C12', '35118-T2A-A50', '94109-14000', '04711-TLA-A00ZZ', '04646-SNA-A90ZZ', '71508-TG7-A00', '71111-TVA-A50', '68660-T20-A10ZZ', '39154-S9A-305', '1131', '79310-TF0-G01', '75101-TK8-A22', '71110-TGS-A00', '71530-T0A-A00ZZ', '64350-TBA-A00ZZ', '71502-TBA-A00', '08W20-T90-300B', '06440-TK6-307', '38900-RZA-014', '33550-TVA-A01', '42700-TR3-C02', '08P17-T90-310C', '13450-REZ-A01', '38800-TBC-C41', '74150-TVA-A00', '71530-T5R-A00ZZ', '04790-SJC-317', '08T44-SNA-302', '35113-S84-A02', '14520-P8E-A01', '71121-TG7-A11', '19200-P2A-A01', '06170-TBA-306', '60210-TVA-A00ZZ', '08T44-TLA-300A', '33150-TR0-A51', '71150-T2F-A00', '79307-TZ5-A61', '905', '71502-TGG-A50', '76258-TBA-C02ZA', '71530-TK8-A10ZZ', '71122-T7A-J11', '71130-TK8-A00ZZ', '08W17-PC4300', '71105-T20-A00', '76255-TBA-A02ZA', '71130-SXS-A00ZZ', '42800-TVA-AG0', '80291-TF3-E01', '33150-TLA-A42', '73211-TBA-A12', '06520-S9A-C00', '60211-TBA-A00ZZ', '44017-STX-A01', '30520-59B-023', '67550-TVA-325ZZ', '04712-T1W-A91', '04790-SCV-318', '17220-5J6-A10', '71185-TLA-C50', '04790-SDA-A00', '60100-TR3-A90ZZ', '73151-TVA-A01', '60211-TR6-305ZZ', '04642-SJC-A00ZZ', '08200-9007C', '36531-RZA-013', '04711-3A0-A00ZZ', '04715-TR3-A90ZZ')
          part_number model_name  price  quantity   make  \
0     04641-T2F-A00ZZ       CR-Z  27.99         1  Honda
1     04641-T2F-A00ZZ      Pilot  27.99         1  Honda
2     04642-SJC-A00ZZ        Fit  92.46         1  Honda
3     04642-SJC-A00ZZ  Ridgeline  92.46         1  Honda
4     04642-SJC-A00ZZ      Pilot  92.46         1  Honda
...               ...        ...    ...       ...    ...
2278             OGIO   Passport  38.27        80  Honda
2279          TUMBLER      Pilot   3.34         8  Honda
2280          TUMBLER      Pilot   3.34         8  Honda
2281          TUMBLER   Passport   3.34         8  Honda
2282          TUMBLER   Passport   3.34         8  Honda

                       description  months no sale    value  year
0                PANEL L SIDE SILL              53   645.51  2010
1                PANEL L SIDE SILL              53   645.51  2010
2                W/H SUB SET R FRO               9   105.87  2023
3                W/H SUB SET R FRO               9   105.87  2023
4                W/H SUB SET R FRO               9   105.87  2023
...                            ...             ...      ...   ...
2278              HONDA GOLF SHIRT               1  3061.60  2023
2279  BLACK WATER BOTTLE METAL RED              31   118.00  2021
2280  BLACK WATER BOTTLE METAL RED              31   118.00  2020
2281  BLACK WATER BOTTLE METAL RED              31   118.00  2021
2282  BLACK WATER BOTTLE METAL RED              31   118.00  2020

[2283 rows x 9 columns]
UPDATE parts SET uploaded=True WHERE part_number IN ('TUMBLER', '33100-TBA-A01', '91504-SP1-003', '38810-RLV-A02', '17011-SJC-A02', '44732-TR3-A01', '04790-TK6-A00', '114-80-17-G', '74900-SHJ-A31ZC', '71130-SZA-A01ZZ', '73350-TG7-A00', '60211-TBA-A50ZZ', '71560-3W0-A10ZA', '04655-3D4-A00ZZ', '08F04-T90-100', '17310-TA0-A01', '42510-TK8-A01', '45022-SNE-A51', '71210-THR-A01', '71121-THR-A50', '71570-T1W-A00', '71125-TG7-A11', '06351-SDA-A70', 'OGIO', '31500-TZ3-H760', '76201-THR-A11ZC', '60261-SVA-A90ZZ', '51621-TG7-A01', '74641-TLA-A00', '74165-TG7-A00', '51722-SWE-T01', '04715-TG7-A50ZZ', '71203-TGG-A00', '903', '17045-T2A-A02', '14510-5A2-A02', '74895-T0A-A01YD', '71202-T20-A01', '08F24-T7S-100A', '52611-TBA-A13', '51220-S5A-305', '75313-TG7-A12', 'BG-6577', '75312-TG7-A12', '44600-TG7-A00', '48350-5TG-003', '74552-TR0-G01', '75722-TK8-A00', '51360-TVA-A04', 'DOG', '64720-TG7-315ZZ', '16CIVICALLOY', '16728-R70-A01', '34270-SVA-A01', '18190-RV0-A10', '52210-TZ6-A00', '71130-TK6-A00ZZ', '14320-5BA-A01', '71501-T2F-A60ZZ', '72147-T2A-A02', '04711-SNE-A90ZZ', '04711-TK8-A91ZZ', '33950-TLA-A21', '12351-R70-A00', '08798-9031C', '114-395-17-B', '900', '33550-TG7-A01', '71530-T2A-A00ZZ', '04711-TS8-A90ZZ', '60261-THR-305ZZ', '37850-RKG-A01', '72910-TK8-A01', '33500-TLA-A01', '08206-9002C', '120-950-17-S', '31200-5G0-A04', '33700-TBG-A01', '67611-TLA-A00ZZ', '08W42-TGG-301', '33550-TR0-A51', '74440-TGS-A01', '71850-TGG-A50ZJ', '33950-TEY-Y01', '04717-TLA-A00ZZ', '15830-59B-004', '33100-TBA-A11', '33100-TBA-A31', '04790-SJC-A10', '42510-T0G-A04', '53713-S9V-A01', '76250-T2G-A81ZJ', '17130-RCA-A02', '71121-TLA-A10', '04790-S0X-315', '60261-SNA-A90ZZ', '68100-T0G-305ZZ', '34270-T0A-A01', '16083', '65700-T7X-A00ZZ', 'CERAMX', '44300-TLA-A51', '33100-T0A-A01', '71123-T6Z-A11', '06720-THR-308', '31500-CCA-H500R', '83551-TG7-A04ZA', '76720-T0A-003', '08P17-TGS-110A', '66100-TBA-305ZZ', '74413-TLA-A01', '63320-T0A-A00ZZ', 'LEATHER', '80315-T1W-A01', '31100-RV0-305', '45022-T2G-A01', 'BG-6601', '04715-THR-A00ZZ', '71501-T6Z-A60', '08V67-TK8-1F0K', '10W30S', '52320-SWA-A01', '08L92-TLA-301', '51611-TLA-A51', '80100-3D0-A01', '71510-T2F-A10', '53010-SJC-A01', '76200-SNE-A12', 'BROWN', '08P21-3A0-100', '04715-SZA-A60ZZ', '33500-TBA-A01', '08P47-SJC-102', '71121-TLA-A60', '42753-TR3-A81', '71121-T7W-A51', '04641-T2F-A00ZZ', '80525-T2F-A01', 'CA670-06', '04711-T1W-A91ZZ', '04715-TGG-A50ZZ', '71105-3D4-A00', '04790-S9A-A10', '33100-TR0-A51', '66100-T0A-A00ZZ', '60261-TBA-A50ZZ', '51211-TVA-A02', '72147-THR-A11', '08F01-TEA-182', '04717-SWA-A90ZZ', '71122-TLA-A60', '71123-T0G-A01', '51395-THR-A10', '75716-SZA-A01', '60400-TG7-315ZZ', '53713-SHJ-A01', '15810-64S-A01', '38900-5J6-A02', 'BG-79232', '04646-T20-A00ZZ', '74151-TBA-A10', '67611-T20-305ZZ', '66100-T31-H20ZZ', '908', '33901-TR0-A51', '08DEF-410738', '19010-5MR-A01', '19200-5A2-A01', '08T44-TGH-300', '08T44-SVB-301', '08R04-SNA-302', '66100-TR2-D21ZZ', '06520-S5A-C00', '77930-T5A-N01', '33100-TG7-A12', '33100-TG7-C12', '35118-T2A-A50', '94109-14000', '04711-TLA-A00ZZ', '04646-SNA-A90ZZ', '71508-TG7-A00', '71111-TVA-A50', '68660-T20-A10ZZ', '39154-S9A-305', '1131', '79310-TF0-G01', '75101-TK8-A22', '71110-TGS-A00', '71530-T0A-A00ZZ', '64350-TBA-A00ZZ', '71502-TBA-A00', '08W20-T90-300B', '06440-TK6-307', '38900-RZA-014', '33550-TVA-A01', '42700-TR3-C02', '08P17-T90-310C', '13450-REZ-A01', '38800-TBC-C41', '74150-TVA-A00', '71530-T5R-A00ZZ', '04790-SJC-317', '08T44-SNA-302', '35113-S84-A02', '14520-P8E-A01', '71121-TG7-A11', '19200-P2A-A01', '06170-TBA-306', '60210-TVA-A00ZZ', '08T44-TLA-300A', '33150-TR0-A51', '71150-T2F-A00', '79307-TZ5-A61', '905', '71502-TGG-A50', '76258-TBA-C02ZA', '71530-TK8-A10ZZ', '71122-T7A-J11', '71130-TK8-A00ZZ', '08W17-PC4300', '71105-T20-A00', '76255-TBA-A02ZA', '71130-SXS-A00ZZ', '42800-TVA-AG0', '80291-TF3-E01', '33150-TLA-A42', '73211-TBA-A12', '06520-S9A-C00', '60211-TBA-A00ZZ', '44017-STX-A01', '30520-59B-023', '67550-TVA-325ZZ', '04712-T1W-A91', '04790-SCV-318', '17220-5J6-A10', '71185-TLA-C50', '04790-SDA-A00', '60100-TR3-A90ZZ', '73151-TVA-A01', '60211-TR6-305ZZ', '04642-SJC-A00ZZ', '08200-9007C', '36531-RZA-013', '04711-3A0-A00ZZ', '04715-TR3-A90ZZ')